/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,400;500;600;700&display=swap'); */


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

:root {
    /* --s-large: 24px; */
    /* --s-medium: 18px; */
    /* --s-small: 16px; */

    --col-accent: #67B0D1;
    --col-text-primary: #343434;
    --col-text-secondary: #3D3D3D;

    --w-extra-bold: 700;
    --w-bold: 600;
    --w-normal: 400;
    --w-light: 300;
}

html, body {
    /* font-size: var(--s-small); */
    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: var(--w-normal);
}


.profiles {
    --card-width: 360px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
    grid-auto-flow: row;
    justify-items: center;
    grid-gap: 3em;

    margin-inline: 30px;
    margin-block: 50px;
}

.header-component {
    position: sticky;
    top: 0;
}

@media only screen and (max-width: 1280px) {
    .profiles {
        --card-width: 300px;
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 900px) {
    .profiles {
        --card-width: 260px;
        font-size: 0.7em;
    }
}
@media only screen and (max-width: 700px) {        
    .profiles {
        --card-width: 250px;
        font-size: 0.7em;
    }
}
